.success{
    background-color: #b6dfa0;
}
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}
.list-group, .list-group.list-group-root > p .list-group{
    margin-bottom: 0;
}
.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}
.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}
.list-group.list-group-root > .list-group > p > .list-group-item {
    padding-left: 30px;
}
.list-group.list-group-root > .list-group > .list-group > p > .list-group-item {
    padding-left: 45px;
}
.item-p {
    margin: 0;
    position: relative;
}
.item-p > span{
    position: absolute;
    right: 0;
    top: 0;
}
.item-p > span{
    position: absolute;
    right: 0;
    top: 0;
}
span > a{
    width: 30px;
    height: 80px;
}
.list-group >.item-p > a{
    padding-left: 40px;
}
a:hover{
    background-color: inherit;
}
.activemenu {
    border-radius: .25rem;
    color: white;
    border-left: 2px solid #0d2eff;
}
form{
    background-color: #FFFFFF;
    padding: 5px 15px;
}
.titlebot{
    margin-top: 25px;
}
.overlay{
    display: none;
}